<!--  /* 
File name: bottomnavbar.ejs
Student’s Name: Mahfuzur Rahman
StudentID : 301336576
Date : Feb 7 2023 
*/
  -->
<!--Bottom Navbar Partial-->

<nav class="navbar sticky-bottom navbar-dark bg-dark " >

  <div class="container-fluid">
    <a class="navbar-brand"  >Developed by Mahfuzur Rahman CopyRight @2023. All Rights Reserved.</a>
  </div>
</nav>
