<!--  /* 
File name: about.ejs
Student’s Name: Mahfuzur Rahman
StudentID : 301336576
Date : Feb 7 2023 
*/
  -->
<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<body style="background-color:rgb(235, 235, 235);">  
</body>


 <div class="container">
  <h1 class="headerText"> <%= title %> Me</h1>
  <hr><br><br>
  <div class="row">

  <div class="col">
    
  <img  class="shadow p-3 mb-5 bg-body-tertiary rounded"  src="/Assests/images/mahfuz_night.jpg" alt="Nature"  width="400">
</div>

<div class="col">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded" >
<p>
My name is Mahfuzur Rahman and I am from Bangladesh. Currently, I am studying at Centennial College in AI-Software Engineering (Fast Track) program. 
My student ID is 301336576.   
 <br><br>
 I had completed my B.Sc. in computer science from Bangalore University of India. After graduation went back to Dhaka and started my professional career. 
 Have worked with many renowned software company of Bangladesh such as Samsung R&D Institute of Bangladesh, Enosis Solutions & Kite Games Studio. 
 <br><br>

<b> Summary of my expertise: </b>
<br>
Have proficiency in system analysis, system design, software development, continuous integration(CI), continuous delivery(CD), code review, testing, bug fixing and preparing technical documentation.
<br>
Expert at C, C++, Objective-C, Swift, Python, MFC, COM, Win32 programming.
<br>
Have a clear concept of data structure, sorting algorithm and searching algorithm. 
<br>
Skilled at project management, team management, task management, progress monitoring and reporting.
<br>
Have clear understanding and practical experience in the entire SDLC process. 
<br>
Have been managing projects and teams with Agile methodology (Scrum).
<br>
Have been maintaining Jira, Git, Bitbucket, Firebase for iOS and Android projects.
<br>
Expert in Design Patterns and Design Principles (SOLID principles). 
<br>
Good at handling huge amounts of legacy code.
</p>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="submit" onclick="window.open('Assests/Resume/Resume_Mahfuz_CA.pdf')" >Download my Resume</button>
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>