<!--  /* 
File name: services.ejs
Student’s Name: Mahfuzur Rahman
StudentID : 301336576
Date : Feb 7 2023 
*/
  -->
  <!--Header Partial Included -->
  <% include partials/header.ejs %>
  <!--Top Navbar Partial Included -->
  <% include partials/navbar.ejs %>

    <body style="background-color:rgb(235, 235, 235);">
      <style>
        img {
          border-radius: 5%;
        }
      </style>
    </body>
    <div class="container">
      <div>
        <h1 class="headerText">Services</h1>
        <h4 class="headerText">I offer training on following programming languages </h4>
      </div>
      <br>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col"> <!--Service 1 Div -->
          <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="card h-100">
              <img src="/Assests/images/c++.png" alt="c++">
              <div class="card-body">
                <h5 class="card-title"> Learn C++ </h5>
                <p class="card-text">
                <h6>
                  About this course
                </h6>
                I offer best teaching methodology in town.
                I have more than 6 years of C++ teaching experience, so I know how to teach this language easily.
                C++ is very old and reliable language.
                <br>
                With its adaptability and fast rendering, you will find the C++ programming language used everywhere,
                from web browsers to game development and operating systems to science and machine learning tools.
                This course will help you learn C++ basics and give you hands-on experience to
                create your own projects and work with computer memory.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col"> <!--Service 2 Div -->
          <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="card h-100">

              <img src="/Assests/images/swift-og.png" alt="swift">
              <div class="card-body">
                <h5 class="card-title">Learn Swift</h5>
                <p class="card-text">
                <h6> About this course </h6>
                Swift is a powerful programming language that is easy and also fun to learn.
                Its code is safe by design, yet also produces software that runs lightning-fast.
                It is used to build apps for iOS, watchOS, macOS, tvOS, and Linux.
                </p>
                <h6> Why with me? </h6>
                Learn with Mahfuz, is a hive now.
                People love my teaching method in social media.
                So, I hope you are gonna love it.
              </div>
            </div>
          </div>
        </div>

        <div class="col"> <!--Service 3 Div -->
          <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="card h-100">
              <img src="/Assests/images/python.png" alt="python">
              <div class="card-body">
                <h5 class="card-title"> Learn Python </h5>
                <p class="card-text">
                <h6> About this course </h6>

                Python is a general-purpose, versatile and popular programming language.
                It is great as a first language because it is concise and easy to read,
                and it is also a good language to have in any programmers stack as it can be used for
                everything from web development to software development and scientific applications.
                </p>
              </div>
            <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <!--Bottom Navbar Partial Included -->
    <% include partials/bottomnavbar.ejs %>

      <!--Footer Partial Included -->
      <% include partials/footer.ejs %>